<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Door-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1303,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Door-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1433,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,130}</string>
                <key>spriteSourceSize</key>
                <string>{1300,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walldoor.png</string>
            <key>size</key>
            <string>{1562,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73a4d0a7a7971f7367c0f82d6d8b90bd:842361c2b4baa685d76d1f0dcc8b92cb:6ac4678c88dcabe825d25125050b419a$</string>
            <key>textureFileName</key>
            <string>walldoor.png</string>
        </dict>
    </dict>
</plist>
